<h1>New League</h1>

<div class="row">
    <div class="col-md-4">
        <%= form_for @league do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control', placeholder: "Enter League Name" %>
        </div>
    </div>
</div>