<div class="jumbotron text-center">
    <h1>The Picks League Project</h1>
    <p>All your preseason prognostications in one place</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>1. Join a Competition</h3>
            <ul>
                <li>Choose from any of the major leagues</li>
                <li>More leagues and postseason play coming soon!</li>
                <li>LINK HERE TO MAKE A SHEET</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>2. Build a Sheet</h3>
            <ul>
                <li>Join your friends or join a public league</li>
                <li>Track results for years on your profile page</li>
                <li>LINK HERE TO GO TO PUBLIC INDEX OR PRIVATE SEARCH</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3>3. Invite your friends, Share on social!</h3>
            <ul>
                <li>Tell your friends to join up</li>
                <li>Link directly to your facebook or twitter feed to tell everyone</li>
                <li>FACEBOOK API HERE</li>
            </ul>
        </div>
    </div>
</div>